* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 50px auto;
  width: 960px;
}

.list {
  margin-bottom: 50px;
}

.list-text {
  padding: 20px;
  list-style: none;
}

.list-text:nth-child(odd) {
  background-color: #eee;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.boxy {
  width: 30%;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: aqua;
}

.boxy:first-child,
.boxy:nth-child(5),
.boxy:last-child {
  background-color: #ff8c00;
}

.boxy:nth-child(3n) {
  margin-right: 0;
}

.boxy:last-child(-n + 3) {
  margin-bottom: 0;
}